extends base.pug 

block scripts 
    script
        include ../static/index.js

block style 
    style
        include ../static/style.css

block content
    h1 THIS IS MY ABOUT PAGE 
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio nesciunt ipsum quibusdam. Sint ullam, praesentium tempore, veritatis quam officiis inventore soluta iste minus nesciunt placeat odit molestias. Quos, eius illo!