extends base.pug 

block scripts 
    script
        include ../static/index.js

block style 
    style
        include ../static/style.css

block content
    section#intro 
        h2 Welc0me to Deep's dance classes!
    section#mission 
        h2 OUR MISSION
        div.cardcon
            div.card 
                p hi there 
            div.card 
                p hi there 
            div.card 
                p hi there 
    div(style="position:relative" id="spbox")
        section#sponsers 
            h2 SPONSERS
    script
        include ../static/index.js